*{
    font-family: "Raleway", sans-serif;
}

.img-fluid{
    width: 150px;
    height: 125px;
    margin-top: 5px;
    margin-left: 450px;
}

.col-2{
    margin-left:300px;
    margin-top: 30px;
}
span{
    font-size: 25px;
}